body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

.Calendar {
  margin: 20px auto; /* Add margin for spacing and centering */
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  width: 120px;
  padding: 25px 5px; /* Adjust padding for better spacing */
  text-align: center; /* Center the text in th */
}

td {
  padding: 5px;
}

.time {
  height: 40px;
  text-align: center; /* Center the text in time cells */
}
